<div class="home-container col-lg-10 col-lg-offset-1">
    <div class="color-display">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <h2 class="text-center">Pick a color, any color!</h2>
                <p class="help-block text-center">
                    Enter a color value (Hex/RGB/RGBA/HSL/HSLA) <br />or one of the <a href="http://www.w3schools.com/cssref/css_colornames.asp" target="_blank">predefined cross-browser color names</a>.
                </p>
                <h3 class="alt-subheader text-center">Alternate Solution</h3>
                <input type="text" ng-model="colorInput" class="form-control" color-parser cp-border-display="home-container" cp-output-display="output-display" cp-color-display="color-display" />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <h3 class="color-header text-center text-capitalize">
                    Your Color:
                    <span class="output-display">{{colorInput}}</span>
                </h3>
            </div>
        </div>
    </div>
</div>
